<h2 mat-dialog-title>Item Details</h2>

<mat-dialog-content>
  <div>
    <p><strong>Item ID:</strong> {{ data.itemsId }}</p>
    <p><strong>Item Name:</strong> {{ data.itemsName }}</p>
    <p><strong>Item Code:</strong> {{ data.itemsCode }}</p>
    <p>
      <strong>Item Price:</strong> {{ data.price |
      currency:'IDR':'symbol':'1.0-0' }}
    </p>
  </div>
  <p><strong>Item Stock:</strong> {{ data.stock }}</p>
  <p>
    <strong>Item Status Status:</strong> {{ data.isAvailable ? 'Active' :
    'Inactive' }}
  </p>
</mat-dialog-content>
